.title{
	font-family: 'Unica One', cursive;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
	padding: 10px;
	margin: 0.5;
	text-align: center;
	background-color: #666666;
}

.questions {
   height: 300px;
   text-align: center;
   padding: 0px;
   display: inline-block;
   color: white;
   font-family: 'Quicksand', sans-serif;
}

.start-page {
	font-family: "Verdana", sans-serif;
	color: white;
}

.quiz {
	color: black;
	display: none;
	font-family: 'Quicksand', sans-serif;
}

.feedback {
	display: inline-block;
	display: none;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.results {
	display: none;
}

.feedback-text{
	font-family: 'Quicksand', sans-serif;
}

.button {
	border: 1px solid white;
	background-color: #666666;
	color: white;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.intro-begin {
	border: 1px solid white;
	background-color: #666666;
	color: white;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.question-submit {
	border: 1px solid white;
	background-color: #666666;
	color: white;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.next-question {
	border: 1px solid white;
	background-color: #666666;
	color: white;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.restart-button {
	border: 1px solid white;
	background-color: #666666;
	color: white;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.basketball-image {
	padding-bottom: 15px;
	width: 100%;
}